body {
  font-family: 'Audiowide', sans-serif, narrow;
}

body div {
  float: left;
}

p {
  margin: 0;
  color: #555182;
  text-shadow: 0 0 4px white;
}

#container {
  position: absolute;
  left: 10px;
  bottom: 40px;
}

#logo {
  text-align: center;
  border-right: medium dotted #9D97D9;
  margin-right: 40px;
  width: 300px;
}

#logo > p {
  font-size: 2em;
}

#logo > img {
  width: 75%;
}

#video_title {
  width: 500px;
  position: relative;
  top: 10px;
}

#video_title > p {
  font-size: 3.5em;
}

#logo {
  -webkit-animation-name: animate_logo;
  -webkit-animation-duration: 4s;
  animation-name: animate_logo;
  animation-duration: 4s;
}

@-webkit-keyframes animate_logo {
  0%   {}
  25%  {}
  50%  {}
  75%  {border-width: medium}
  100% {border-width: 0px;}
}

@keyframes animate_logo {
  0%   {}
  25%  {}
  50%  {}
  75%  {border-width: medium}
  100% {border-width: 0px;}
}

#video_title {
  -webkit-animation-name: animate_title;
  -webkit-animation-duration: 4s;
  animation-name: animate_title;
  animation-duration: 4s;
}

@-webkit-keyframes animate_title {
  0%   {left: 200%;}
  25%  {left: 0px;}
  50%  {}
  75%  {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes animate_title {
  0%   {left:200%;}
  25%  {left:0px;}
  50%  {}
  75%  {opacity: 1;}
  100% {opacity: 0;}
}